.navlinklist {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.navlink {
    text-decoration: none;
    font-size: 30px;
    color: deepskyblue;
}

.navlink:hover {
    color: lightskyblue;
}
